[submodule "concurrencpp"]
	path = external/concurrencpp
	url = https://github.com/David-Haim/concurrencpp.git
[submodule "libunifex"]
	path = external/libunifex
	url = https://github.com/facebookexperimental/libunifex.git
[submodule "oneTBB"]
	path = external/oneTBB
	url = https://github.com/oneapi-src/oneTBB.git
[submodule "wg21_p2300_std_execution"]
	path = external/wg21_p2300_std_execution
	url = https://github.com/lums658/wg21_p2300_std_execution.git
	branch = async_scope

